<div class="ui container">
    <div class="ui segment">
        <div class="ui grid">
            <div class="six wide column">
                <div class="ui buttons">
                    <button class="ui button primary ajax-link" data-resource-id="20">Générer des mots-clés</button>
                    <button class="ui button secondary" id="copy-keywords" style="display: none;">Copier</button>
                </div>
            </div>
            <div class="ten wide column right aligned">
                <p id="keywords-content" style="text-align: right;"></p>
            </div>
        </div>
        <div class="ui active dimmer" id="loading-spinner" style="display: none;">
            <div class="ui loader"></div>
        </div>
    </div>
</div>